.row
    .col-md-2
        a.btn.btn-primary.btn-block.margin-bottom(href='./adm-email-inbox') Kembali ke kotak masuk
        include mod-email-nav.pug
    // /.col
    .col-md-10
        .box.box-primary
            .box-header.with-border
                h3.box-title Tulis E-Mail
            // /.box-header
            .box-body
                .form-group
                    input.form-control(placeholder='Kepada:')
                .form-group
                    input.form-control(placeholder='Subjek:')
                .form-group
                    textarea#compose-textarea.form-control(style='height: 300px')
                        h1
                            u Heading Of Message
                        h4 Subheading
                        p
                            |   But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                        ul
                            li List item one
                            li List item two
                            li List item three
                            li List item four
                        p Thank you,
                        p John Doe
                .form-group
                    .btn.btn-default.btn-file
                        i.fa.fa-paperclip
                        |   Lampiran
                        input(type='file', name='attachment')
                    p.help-block Max. 32MB
            // /.box-body
            .box-footer
                .pull-right
                    button.btn.btn-default(type='button')
                        i.fa.fa-pencil
                        |   Draft
                    |   &nbsp;
                    button.btn.btn-primary(type='submit')
                        i.fa.fa-envelope-o
                        |   Kirim
                    |   &nbsp;
                button.btn.btn-default(type='reset')
                    i.fa.fa-times
                    |   Batal
            // /.box-footer
        // /. box
    // /.col