.row
    .col-md-12
        .box.box-info
            .box-header
                h3.box-title
                    |   Kalender Event
            // /.box-header
            .box-body.pad
                form(action="/adm-kalenderevent-tambah", method="post", enctype="multipart/form-data")
                    .form-group
                        label.col-sm-2.control-label(for='judul')
                            |   Judul Event
                            span.required *
                        .col-sm-10
                            input#title.form-control(type='text', name='judul', required='required')
                            br
                    .form-group
                        label.col-sm-2.control-label(for='tgl_event')
                            |   Tanggal Event
                            span.required *
                        .col-sm-10
                            input#title.form-control(type='date', name='tgl_event', required='required')
                            br
                    .form-group
                        label.col-sm-2.control-label(for='gambar')
                            |   Gambar
                            span.required *
                        .col-sm-10
                            input#gambar.form-control(type='file', name='uploaded_image', required='required')
                            br
                    .form-group
                        label.col-sm-12.control-label(for='isi')
                            |   Keterangan Event
                            span.required *
                        .col-sm-12
                            textarea#editor3(name='editorkalenderevent', rows='15', cols='80')
                            br
                            
                    .form-actions
                        .row
                            .col-sm-12.col-sm-offset-10
                                .btn-toolbar
                                    button.btn.btn-success(type='submit') Simpan
                                    button.btn.btn-default(type='button') Batal
        // /.box