.row
    .col-md-2
        a.btn.btn-primary.btn-block.margin-bottom(href='./adm-email-tulis') 
            i.fa.fa-pencil &nbsp;
            |   Tulis E-mail
        include mod-email-nav.pug
    // /.col
    .col-md-10
        .box.box-primary
            .box-header.with-border
                h3.box-title
                    i.fa.fa-send
                    |   Kotak Keluar
                .box-tools.pull-right
                    .has-feedback
                        input.form-control.input-sm(type='text', placeholder='Cari E-mail')
                        span.glyphicon.glyphicon-search.form-control-feedback
                // /.box-tools
            // /.box-header
            .box-body.no-padding
                .mailbox-controls
                    // Check all button
                    button.btn.btn-default.btn-sm.checkbox-toggle(type='button')
                        i.fa.fa-square-o
                    |   &nbsp;
                    .btn-group
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-trash-o
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-reply
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-share
                        |   &nbsp;
                    // /.btn-group
                    button.btn.btn-default.btn-sm(type='button')
                        i.fa.fa-refresh
                    .pull-right 1-50/200&nbsp;
                        .btn-group
                            button.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-chevron-left
                            button.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-chevron-right
                        // /.btn-group
                    // /.pull-right
                .table-responsive.mailbox-messages
                    table.table.table-hover.table-striped
                        tbody
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 5 mins ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 28 mins ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 11 hours ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 15 hours ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date Yesterday
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 2 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 2 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 2 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 2 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 2 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 4 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                td.mailbox-date 12 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star-o.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 12 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 14 days ago
                            tr
                                td
                                    input(type='checkbox')
                                td.mailbox-star
                                    a(href='#')
                                        i.fa.fa-star.text-yellow
                                td.mailbox-name
                                    a(href='./adm-email-baca') Alexander Pierce
                                td.mailbox-subject
                                    b AdminLTE 2.0 Issue
                                    |   Trying to find a solution to this problem...
                                td.mailbox-attachment
                                    i.fa.fa-paperclip
                                td.mailbox-date 15 days ago
                    // /.table
                // /.mail-box-messages
            // /.box-body
            .box-footer.no-padding
                .mailbox-controls
                    // Check all button
                    button.btn.btn-default.btn-sm.checkbox-toggle(type='button')
                        i.fa.fa-square-o
                    |   &nbsp;
                    .btn-group
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-trash-o
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-reply
                        button.btn.btn-default.btn-sm(type='button')
                            i.fa.fa-share
                        |   &nbsp;
                    // /.btn-group
                    button.btn.btn-default.btn-sm(type='button')
                        i.fa.fa-refresh
                    .pull-right 1-50/200&nbsp;
                        .btn-group
                            button.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-chevron-left
                            button.btn.btn-default.btn-sm(type='button')
                                i.fa.fa-chevron-right
                        // /.btn-group
                    // /.pull-right
        // /. box
    // /.col
// /.row