#konfirmTerbitkan.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Apakah Anda yakin 
                    strong Menerbitkan 
                    |   Halaman ini?
            .modal-body.row
                .col-sm-4
                    .album-image
                        a.thumb(href='#', data-action='edit')
                            img.img-responsive(src=base_url+'images/berita/small/0b018c031a8c54d804b23b1660001326.jpg')
                    br.visible-xs
                .col-sm-8
                    strong This is a lead parapraph.
                    p
                        |   Neglected
                        strong principle ask rapturous
                        |   consulted. Object remark lively all did feebly excuse our wooded. Old her object
                        del chatty regard vulgar
                        |   missed. Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye. Sufficient unpleasing an insensible motionless if introduced ye. Now give nor both come near many late
            .modal-footer
                button.btn.btn-white.btn-icon.btn-icon-standalone.btn-sm(type='button', data-dismiss='modal') 
                    i.el-cancel
                    span BATAL
                button#tombolKonfirmTerbitkan.btn.btn-success.btn-icon.btn-icon-standalone.btn-sm(type='button')
                    i.entypo-check
                    span TERBITKAN HALAMAN
#konfirmDraft.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Apakah Anda yakin mengubah status halaman menjadi 
                    strong Draft 
                    |   ?
            .modal-body.row
                .col-sm-4
                    .album-image
                        a.thumb(href='#', data-action='edit')
                            img.img-responsive(src=base_url+'images/berita/small/0b018c031a8c54d804b23b1660001326.jpg')
                    br.visible-xs
                .col-sm-8
                    strong This is a lead parapraph.
                    p
                        |   Neglected
                        strong principle ask rapturous
                        |   consulted. Object remark lively all did feebly excuse our wooded. Old her object
                        del chatty regard vulgar
                        |   missed. Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye. Sufficient unpleasing an insensible motionless if introduced ye. Now give nor both come near many late
            .modal-footer
                button.btn.btn-white.btn-icon.btn-icon-standalone.btn-sm(type='button', data-dismiss='modal') 
                    i.el-cancel
                    span BATAL
                button#tombolKonfirmDraft.btn.btn-primary.btn-icon.btn-icon-standalone.btn-sm(type='button')
                    i.entypo-archive
                    span JADIKAN DRAFT
#konfirmHapus.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Apakah Anda yakin 
                    strong menghapus 
                    |   halaman ini?
            .modal-body.row
                .col-sm-4
                    .album-image
                        a.thumb(href='#', data-action='edit')
                            img.img-responsive(src=base_url+'images/berita/small/0b018c031a8c54d804b23b1660001326.jpg')
                    br.visible-xs
                .col-sm-8
                    strong This is a lead parapraph.
                    p
                        |   Neglected
                        strong principle ask rapturous
                        |   consulted. Object remark lively all did feebly excuse our wooded. Old her object
                        del chatty regard vulgar
                        |   missed. Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye. Sufficient unpleasing an insensible motionless if introduced ye. Now give nor both come near many late
            .modal-footer
                button.btn.btn-white.btn-icon.btn-icon-standalone.btn-sm(type='button', data-dismiss='modal') 
                    i.el-cancel
                    span BATAL
                button#tombolKonfirmHapus.btn.btn-danger.btn-icon.btn-icon-standalone.btn-sm(type='button')
                    i.entypo-trash
                    span HAPUS HALAMAN