doctype html
html(lang='id')
    head
        include portal/layout/header.pug
        title= title
    body.page-body.page-error-env(data-url='http://tanjungpinangkota.go.id')
        include portal/layout/404.pug
        include portal/layout/js.pug