<div class="white-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h5>P E N G U M U M A N<br />NOMOR : 810 /1344/ 4.2.02 / 2018</h5>
                    <h5>TENTANG</h5>
                    <h5>PELAKSANAAN SELEKSI KOMPETENSI DASAR<br />CALON PEGAWAI NEGERI SIPIL<br />DI LINGKUNGAN PEMERINTAH KOTA TANJUNGPINANG<br />FORMASI TAHUN 2018</h5>
                </div>
                <div>
                    <p>Berdasarkan pengumuman Nomor : 810/1090/4.2.02/2018 tentang Hasil Seleksi Administrasi Seleksi Calon Pegawai Negeri Sipil di lingkungan Pemerintah KotaTanjungpinang Formasi Tahun 2018, maka dengan ini disampaikan hal-hal sebagai berikut: </p>
                    <ol>
                        <li>Bagi pelamar yang dinyatakan <strong>LULUS</strong> Seleksi Administrasi Calon Pegawai Negeri Sipil di lingkungan Pemerintah Kota Tanjungpinang Formasi Tahun 2018 wajib mengikuti Seleksi Kompetensi Dasar (SKD) menggunakan Computer Assisted Test (CAT), yang bertempat di Hotel CK Tanjungpinang Jl. Raja Haji Fisabilillah Km.8 No. 10 Tanjungpinang pada tanggal <strong>1 s/d 2 Nopember 2018</strong> mulai pukul <strong>08.00 WIB s/d selesai </strong><a href="http://tanjungpinangkota.go.id/data/download-area/138" target="_BLANK"><strong>jadwal terlampir</strong></a>.</li>
                        <li>Peserta wajib hadir 1 jam sebelum jadwal ujian untuk melakukan registrasi.</li>
                        <li>Pada saat pelaksanaan Seleksi Kompetensi Dasar (SKD), peserta diwajibkan berpakaian warna putih polos, celana hitam bagi laki-laki dan rok hitam bagi perempuan serta sepatu tertutup warna hitam, dengan membawa :
                            <ul>
                                <li>Kartu Tanda Penduduk (KTP) asli</li>
                                <li>Kartu Pendaftaran CPNS Tahun 2018</li>
                                <li>Kartu Informasi akun SSCN</li>
                                <li>Kartu Peserta Ujian CPNS Tahun 2018</li>
                            </ul>
                        </li>
                        <li>Bagi peserta yang tidak hadir mengikuti Seleksi Kompetensi Dasar (SKD) sesuai jadwal yang ditentukan, maka dinyatakan mengundurkan diri dan gugur.</li>
                    </ol>
                    <p>Demikian pengumuman ini disampaikan untuk menjadi perhatian.</p>
                    <p>Tanjungpinang, 26 Oktober 2018
                        <br />KEPALA BADAN KEPEGAWAIAN DAN
                        <br />PENGEMBANGAN SUMBER DAYA MANUSIA
                        <br />KOTA TANJUNGPINANG
                        <br /><br />dto
                        <br /><br /><strong>Drs. TENGKU DAHLAN, MT</strong>
                        <br />Pembina Utama Muda
                        <br />NIP. 19621125 198702 1 004
                    </p>
                </div>
                <br />
                <br />
                <br />
                <div class="text-center">
                    <p class="text-center">Jadwal Ujian dapat di unduh <strong><a href="http://tanjungpinangkota.go.id/data/download-area/138" target="_BLANK">DI SINI</a></strong> atau <strong><a href="https://drive.google.com/open?id=1EwsDJ1M-3VLX2Q6t-WY4tuISw6ZMlB4C" target="_BLANK">DI SINI</a></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>