extends adm-layout/base
block content
    section.content-header
        h1
            |   Download Area
            small Tambah
        ol.breadcrumb
            li
                a(href='./adm')
                    i.fa.fa-dashboard 
                    |   Beranda
            li
                a(href='./adm-download') Download Area
            li.active Data Download
    // Main content
    section.content
        .row
            .col-xs-12
                include adm-modul/mod-download-tambah.pug
            // /.col
        // /.row
    // /.content