extends adm-layout/base
block content
    section.content-header
        h1
            |   Gallery
            small Tambah
        ol.breadcrumb
            li
                a(href='./adm')
                    i.fa.fa-dashboard 
                    |   Beranda
            li
                a(href='./adm-gallery-album') Gallery Album
            li.active Tambah Gallery 
    // Main content
    section.content
        .row
            .col-xs-12
                include adm-modul/mod-gallery-tambah.pug
            // /.col
        // /.row
    // /.content