extends adm-layout/base
block content
    // Content Header (Page header)
    section.content-header
        h1
            |   Baca E-Mail
        ol.breadcrumb
            li
                a(href='#')
                    i.fa.fa-dashboard
                    |   Dahsboard
            li
                |   Email
            li.active E-mail Masuk
    // Main content
    section.content
        include adm-modul/mod-email-baca.pug
    // /.content