extends adm-layout/base
block content
    section.content-header
        h1
            |   Kalender Event
            small Edit
        ol.breadcrumb
            li
                a(href='./adm')
                    i.fa.fa-dashboard 
                    |   Beranda
            li
                a(href='./adm-kalenderevent-list') Kalender Event
            li.active Detail Kalender Event
    // Main content
    section.content
        .row
            .col-xs-12
                include adm-modul/mod-kalenderevent-edit.pug
            // /.col
        // /.row
    // /.content