doctype html
html(lang='id')
    head
        include ../adm/layout/header.pug
        title= title
    body.page-body.lockscreen-page(data-url='http://tanjungpinangkota.go.id')
        .login-container
            .row
                .col-sm-7
                    script(type='text/javascript').
                        jQuery(document).ready(function($)
                        {
                            // Reveal Login form
                            setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
                            
                            
                            // Clicking on thumbnail will focus on password field
                            $(".user-thumb a").on('click', function(ev)
                            {
                                ev.preventDefault();
                                $("#passwd").focus();
                            });
                            
                            
                            // Form validation and AJAX request
                            $(".lockcreen-form").validate({
                                rules: {
                                    passwd: {
                                        required: true
                                    }
                                },
                                
                                messages: {
                                    passwd: {
                                        required: 'Please enter your password.'
                                    }
                                },
                                
                                submitHandler: function(form)
                                {
                                    show_loading_bar(70); // Fill progress bar to 70% (just a given value)
                                    
                                    var $passwd = $(form).find('#passwd'),
                                        opts = {
                                            "closeButton": true,
                                            "debug": false,
                                            "positionClass": "toast-top-full-width",
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        };
                                    
                                    $.ajax({
                                        url: "data/login-check.php",
                                        method: 'POST',
                                        dataType: 'json',
                                        data: {
                                            do_login: true,
                                            username: 'demo', // user is known in this case
                                            passwd: $passwd.val(),
                                        },
                                        success: function(resp)
                                        {
                                            show_loading_bar({
                                                delay: .5,
                                                pct: 100,
                                                finish: function(){
                                                    
                                                    if(resp.accessGranted)
                                                    {
                                                        // Redirect after successful login page (when progress bar reaches 100%)
                                                                                                        window.location.href = 'dashboard-1.html';
                                                                                                    }
                                                    else
                                                    {
                                                        toastr.error("You have entered wrong password, please try again. Password is <strong>demo</strong> :)", "Invalid Login!", opts);
                                                        $passwd.select();
                                                    }
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                            
                            // Set Form focus
                            $("form#lockscreen .form-group:has(.form-control):first .form-control").focus();
                        });
                    form#lockscreen.lockcreen-form.fade-in-effect(role='form')
                        .user-thumb
                            a(href='#')
                                img.img-responsive.img-circle(src='./adm-assets/images/user-5.png')
                        .form-group
                            h3 Welcome back, John!
                            p Enter your password to access the admin.
                            .input-group
                                input#passwd.form-control.input-dark(type='password', name='passwd', placeholder='Password')
                                span.input-group-btn
                                    button.btn.btn-primary(type='submit') Log In
        include ../adm/layout/js.pug