.ppk-callout
    h2 Rencana Aksi Daerah Pencegahan dan Pemberantasan Korupsi (PPK) Kota Tanjungpinang
    p(align='justify')
        | Dalam upaya pencegahan dan pemberantasan korupsi sebagaimana diamanatkan melalui Peraturan Presiden Nomor 55 Tahun 2012 tentang Stranas PPK Jangka Panjang 2012-2025, pemerintah daerah wajib menyusun rencana Aksi Pencegahan dan pemberantasan korupsi yang diimplementasikan dan dimonitori setiap tahun. Sesuai Instruksi Presiden Nomor 10 Tahun 2016 tentang Aksi Pencegahan dan Pemberantasan Korupsi Tahun 2016 dan Tahun 2017, memerintahkan kepada seluruh Kementerian/Lembaga dan Pemerintah Daerah agar melaksanakan Aksi PPK. Kemudian ditindaklanjuti oleh Menteri Dalam Negeri dengan menerbitkan Surat Edaran Nomor 356/4429/SJ tanggal 21 November 2016 tentang Pedoman Pelaksanaan Aksi Pencegahan dan Pemberantasan Korupsi Pemerintah Daerah Tahun 2016 dan Tahun 2017. Oleh karena itu peran Inspektorat selaku verifikator dan Bapelitbang selaku pemegang username sangat penting guna mencapai peringkat lebih baik di Triwulan berikutnya. </p>
    a.btn.flat-color.btn-lg(href=base_url+'pages/aksidaerah', target='_BLANK')
        strong SELENGKAPNYA