.ppid-callout
    h2 Pejabat Pengelola Informasi dan Dokumentasi (PPID)
    p(align='justify')
        | PPID atau Pejabat Pengelola Informasi dan Dokumentasi adalah Pejabat yang bertugas dan bertanggungjawab untuk melakukan pengelolaan dan pelayanan informasi publik, meliputi proses pengumpulan, penyediaan, pengklasifikasian, penyimpanan, pendokumentasian, dan pelayanan informasi beserta Dokumentasi seluruh Organisasi Perangkat Daerah yang terdapat pada suatu Pemerintah Daerah dengan ketentuan yang berlaku. </p> 
    a.btn.flat-color.btn-lg(href=base_url+'data/dip', target='_BLANK')
        strong SELENGKAPNYA