.post.pages-profil
    .row
        .col-sm-4.col-sm-push-4.col-xs-12.text-center
            img.img-responsive.center(src=base_url+'images/lambang_235.png', alt='Kota Tanjungpinang', width='235px')
            br
        .col-sm-12
            .post-content
                h5.subpage-title
                    span MAKNA LAMBANG
                ol
                    li Bentuk Perisai Bersudut Lima berwarna hijau pucuk daun pisang berbingkai coklat melambangkan Kota Tanjungpinang yang berdasarkan Pancasila.
                    li Bintang bewarna putih adalah melambangkan keagungan dan kesucian Nur (Cahaya) Ketuhanan yang menerangi sendi-sendi kehidupan Kota Tanjungpinang.
                    li Payung bewarna kuning adalah melambangkan kebesaran Melayu Riau dan melindungi kehidupan masyarakat, bertulang dua belas warna merah adalah merupakan cerminan dari nilai-nilai kehidupan beragama, pemerintahan dan masyarakat sebagai termaktub dalam pasal-pasal pada Gurindam 12 karya Ali Haji.
                    li Padi dan Kapas, padi bewarna kuning dan kapas berwarna putih dan kelopak hijau tua adalah sebagai lambang kemakmuran dan kesejahteraan bersimpul tali satu kesatuan berjumlah 45 (empat puluh lima) garis dengan padi berjumlah 17 (tujuh belas) dan kapas berjumlah 10 (sepuluh) yang merupakan hari Jadi Kota Otonom Tanjungpinang.
                    li Selembar daun sirih bewarna hijau tua beruas enam adalah keluhuran dan kejujuran sebagai simbol adat istiadat dan budaya melayu yang bersendikan kepada nilai-nilai keimanan.
                    li Kelopak bunga 4 (empat) buah bewarna kuning Melambangkan keagungan dan kebangsawanan dan disangga kelopak kecil 18 (delapan belas) buah bewarna merah melambangkan keberanian, mengartikan Kota Tanjungpinang sebagai kota indah,berbudaya dan merupakan gambaran Kota Tanjungpinang terdiri dari 4 (empat) kecamatan dan 18 (delapan belas) kelurahan.
                    li Gelombang laut bewarna biru muda ada lima adalah keluhuran Pancasila sebagai Dasar Negara landasan dala pemerintahan.
                    li Keris lekuk lima bewarna kuning emas dan berhulu warna coklat berbentuk kepala burung serindit adalah melambangkan Agama sebagai tiang utama, jiwa kejuangan dan patriotism rakyat serta kebijaksanaan untuk mengamankan negeri.
                br
                h5.subpage-title
                    span MOTTO KOTA TANJUNGPINANG
                blockquote 
                    strong “JUJUR BERTUTUR BIJAK BERTINDAK” 
                p yang tertulis pada pita bewarna coklat mengandung makna amanh dan bijaksana dalam menyelenggarakan pemerintah dan sebagai pelayan masyarakat dapat memberikan kekekalan dan keabadian yang nyata bagi masyarakat Kota Tanjungpinang.
                br
                h5.subpage-title
                    span SLOGAN KOTA TANJUNGPINANG
                blockquote 
                    strong "GURINDAM"
                p yang merupakan singkatan Gigih, Unggul, Rapi, Indah, Nyaman, Damai, Amana dan Manusiawi yang mengandung makna Kota Tanjungpinang ditata secara terpadu untuk menciptakan lingkungan yang indah, hijau berbunga, bersih, memiliki adya pemiat bagi wisatawan yang merupakan cerminan dari pemerintah yang berwibawa,bebas dari penyalahgunaan wewenang yang merugikan masyarakat dan bertindak berlandaskan adat istiadat, budaya, moralitas dan kemanusiaan.