form(method='get', action='', enctype='application/x-www-form-urlencoded')
    input#cariBerita.form-control.input-lg.flat-input(type='text', placeholder='Cari Berita...', name='s')
    button.btn-unstyled(type='submit')
        i.linecons-search