.container
    .main-wrapper.search-env
        .row
            .col-md-12
                include mod-cari-berita
.white-wrapper
    .container
        .row
            .col-md-9
                include mod-berita
            .col-md-3
                include mod-sidebar-1