.post.pages-profil
    .row
        .col-sm-2
            .post-thumb-single
                img.img-responsive(src=base_url+'images/Lambang_Kota_Tanjung_Pinang_GRA.png', alt='Kota Tanjungpinang', width='20px')
                .image-overlay
                a.post-zoom(href=base_url+'images/lambang_235.png', rel='prettyPhoto[pp_pages_profil]')
                    i.fa-eye

            // /.post-thumb-single
        .col-sm-10
            .post-content
                h5.subpage-title
                    span VISI
                blockquote.text-center “Tanjungpinang Sebagai Kota yang Maju, Berbudaya dan Sejahtera dalam Harmoni Kebhinekaan Masyarakat Madani”

                h5.subpage-title
                    span MISI
                ol
                    li Meningkatkan kulitas sumber daya manusia yang agamis, berbudaya, berwawasan kebangsaan, dan berdaya saing global.
                    li Meningkatkan pengembangan pariwisata dan pengembangan ekonomi kreatif.
                    li Mengembangkan dan melestarikan khasanah budaya lokal dan nusantara untuk menciptakan kehidupan masyarakat yang harmonis, bertoleransi, dan kebhinnekaan guna mendukung pembangunan berkelanjutan.
                    li Mewujudkan tata kelola pemerintahan yang profesional, berwibawa, amanah, transparan, dan akuntabel didukung dengan struktur birokrasi yang berintegrasi dan kompeten.
                    li Melanjutkan pembangunan yang adil dan merata serta menciptakan iklim investasi dan usaha kondusif yang berwawasan lingkungan dan sistem pengupahan yang berkeadilan.
            .post-meta
                ul.meta-list
                    li
                        span Terbit: 
                        span.black 01 Oktober 2018
                    li
                        span Penulis: 
                        span.black Teguh Susanto, ST.