.jarakNav
.container
    .row
        // Carousel
        #slideshow.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#slideshow', data-slide-to='0')
                li(data-target='#slideshow', data-slide-to='1')
                li(data-target='#slideshow', data-slide-to='2')
                li(data-target='#slideshow', data-slide-to='3')
                li(data-target='#slideshow', data-slide-to='4')
                li(data-target='#slideshow', data-slide-to='5')
                li(data-target='#slideshow', data-slide-to='6')
                li(data-target='#slideshow', data-slide-to='7')
                li(data-target='#slideshow', data-slide-to='8')
                li(data-target='#slideshow', data-slide-to='9')
                li(data-target='#slideshow', data-slide-to='10')
            // Wrapper for slides
            .carousel-inner
                .item.active
                    img.img-responsive(src=base_url+'images/bg/1.jpg', alt='First slide')
                    // Static Header
                    .header-text
                        .col-md-12
                            a(href='#')
                                h2
                                    span
                                        strong GEDUNG GONGGONG
                                h3
                                    span Panorama Gedung Gonggong
                    // /header-text
                each val in beritahome
                    .item
                        img.img-responsive(src=base_url+'images/berita/big/'+val.gambar, alt='Slideshow')
                        .header-text
                            .col-md-12
                                a(href='berita/'+val.link_berita)
                                    h2
                                        span
                                            strong=val.judul_berita
                                    - short_text = val.isi_berita_ringkas
                                    h3
                                        span!=short_text.substr(0, 150)
            // Controls
            a.left.carousel-control(href='#slideshow', data-slide='prev')
                span.fa-chevron-left
            a.right.carousel-control(href='#slideshow', data-slide='next')
                span.fa-chevron-right
        // /carousel