#backtop 
    .icon &#x25B2;
    br
    .pengunjung
        |   Anda adalah 
        br.hidden-xs 
        |   pengunjung ke: 
        br.hidden-xs
        strong 150 
        br.hidden-xs
        |   IP: 123.456.789.101
        .clock
            span#Date
            span &nbsp;-&nbsp;
            span#hours
            span#point :
            span#min
            span#point :
            span#sec