h5.subpage-title
    span BUKU TAMU
    // Controls
    a#testimonials-next.next(href='#carousel-example-generic', data-slide='next')
        i.fa-chevron-right
    a#testimonials-prev.prev(href='#carousel-example-generic', data-slide='prev')
        i.fa-chevron-left
#testimoni-caroufredsel
    .testimonial
        .testimonial-content
            p
                |   In est unum referrentur, pro at soluta epicurei, mei ea expetendis adipiscing delicatissimi. Rebum mucius inciderint ei quo. His autem philosophia te, pri cu deserunt convenire.
        .testimonial-author
            img(src=base_url+'images/pegawai/tiny/212121.jpg', alt='User Image')
            span.user Arnoob Mondal
            span.user-info Web Designer At MYCOMPANYY
    .testimonial
        .testimonial-content
            p
                |   In est unum referrentur, pro at soluta epicurei, mei ea expetendis adipiscing delicatissimi. Rebum mucius inciderint ei quo. His autem philosophia te, pri cu deserunt convenire.
        .testimonial-author
            img(src=base_url+'images/pegawai/tiny/31212338.jpg', alt='User Image')
            span.user Bushra Karim
            span.user-info Art Director At MYCOMPANYY
    .testimonial
        .testimonial-content
            p
                |   In est unum referrentur, pro at soluta epicurei, mei ea expetendis adipiscing delicatissimi. Rebum mucius inciderint ei quo. His autem philosophia te, pri cu deserunt convenire.
        .testimonial-author
            img(src=base_url+'images/pegawai/tiny/51600000030001.jpg', alt='User Image')
            span.user Shubro Dev Mondal
            span.user-info Web Developer At MYCOMPANYY