include mod-modal-event-terkini
include mod-carousel-besar
//.white-wrapper
    .container
        include mod-siaran-pers
//.container
    .main-wrapper.search-env
        .row
            .col-md-12
                include mod-search-home
.white-wrapper
    .container
        .row
            .col-md-9
                .row
                    .col-md-12
                        include mod-siaran-pers
                include mod-berita-home
            .col-md-3
                include mod-sidebar-1