- var menu_pages_profil_instansi =	"pages/profilinstansi";
- var menu_pages_data_unit_kerja =	"data/unitkerja";
- var menu_pages_struktur_org =		"pages/strukturorg";

if menu==menu_pages_profil_instansi
    .post-content
        h5.subpage-title
            span PROFIL INSTANSI DI LINGKUNGAN PEMERINTAH KOTA TANJUNGPINANG
else if menu==menu_pages_data_unit_kerja
    .post-content
        h5.subpage-title
            span DATA UNIT KERJA DI LINGKUNGAN PEMERINTAH KOTA TANJUNGPINANG