.post.pages-profil
    .row
        .col-sm-12
            .post-thumb-single
                img.img-responsive(src=base_url+'images/pages/struktur-org.jpeg', alt='Struktur OrganisasiKota Tanjungpinang', width='20px')
                .image-overlay
                a.post-zoom(href=base_url+'images/pages/struktur-org.jpeg', rel='prettyPhoto[pp_pages_profil]')
                    i.fa-eye