.post.pages-profil
    .row
        .col-sm-2
            .post-thumb-single
                img.img-responsive(src=base_url+'images/Lambang_Kota_Tanjung_Pinang_GRA.png', alt='Kota Tanjungpinang', width='20px')
                .image-overlay
                a.post-zoom(href=base_url+'images/lambang_235.png', rel='prettyPhoto[pp_pages_profil]')
                    i.fa-eye
            // /.post-thumb-single
        .col-sm-10
            .post-content
                h5.subpage-title
                    span Sejarah Singkat Kota Tanjungpinang
                p   Sejak tahun 1983 melalui Peraturan Pemerintah Nomor 31 Tahun 1983, Tanjungpinang berstatus sebagai kota administratif bagian dari Kabupaten Kepulauan Riau, Provinsi Riau. Bersama dengan Dumai yang telah lebih dulu menjadi kota administratif pada tahun 1979, Tanjungpinang merupakan kota administratif kedua di Provinsi Riau. Dasar pembentukan kota administratif di Indonesia ketika itu diatur dalam Undang-Undang Nomor 5 Tahun 1974 tentang Pokok-Pokok Pemerintahan Daerah. Meski berstatus sebagai kota administratif, Tanjungpinang bukanlah sebuah kota otonom karena tidak memiliki Dewan Perwakilan Rakyat Daerah (DPRD). Kota aministratif dipimpin oleh walikota administratif yang bertanggung jawab kepada bupati kabupaten Kepulauan Riau.
                p   Pada tahun 1999 pemerintah mengeluarkan undang-undang baru tentang pemerintahan daerah yaitu Undang-Undang Nomor 22 Tahun 1999 tentang Pemerintahan Daerah. Undang-undang yang dikenal dengan undang-undang otonomi daerah itu lantas membagi wilayah pemerintahan daerah di Indonesia hanya dengan wilayah provinsi, dan wilayah kabupaten atau kota. Tidak ada lagi wilayah pemerintahan dengan status kotamadya, dan kota administratif. Undang-undang otonomi daerah tersebut menyebabkan seluruh wilayah kotamadya dan kota administratif dapat ditingkatkan menjadi kota otonom, atau sebaliknya juga dapat dikembalikan kepada daerah kabupaten induknya.
                p   Kota Tanjungpinang dibentuk melalui Undang-Undang Nomor 5 Tahun 2001 yang ditandatangani oleh Presiden RI Abdurrahman Wahid pada tanggal 21 Juni 2001, dan dicatat dalam Lembaran Negara Republik Indonesia Tahun 2001 Nomor 85. Peresmian Kota Tanjungpinang oleh Menteri Dalam Negeri Dan Otonomi Daerah Hari Sabarno, dilaksanakan secara serentak bersama 11 kota lainnya pada tanggal 17 Oktober 2001 di Jakarta. Tanggal peresmian Kota Tanjungpinang inilah yang dijadikan sebagai momen peringatan ulang tahun Kota Tanjungpinang sebagai kota otonom. Seminggu kemudian, atau tepatnya pada tanggal 23 Oktober 2001, Gubernur Riau H. Saleh Djasit, SH melantik Dra. Hj. Suryatati A Manan sebagai caretaker atau Penjabat Walikota Tanjungpinang di gedung yang kini menjadi kantor Dinas Perpustakaan Dan Arsip Kota Tanjungpinang. Pelantikan Dra. Hj. Suryatati A Manan yang saat itu menjabat sebgai walikota administratif, juga diamanahkan dan dibunyikan secara langsung dalam undang-undang pembentukan Kota Tanjungpinang.
                p   Dilihat dari luas wilayahnya, Kota Tanjungpinang hanyalah sebuah kota kecil dengan luas wilayah sekitar 239, 5 kilometer persegi dan sebagiannya merupakan wilayah perairan laut. Namun dari segi jumlah penduduk, Kota Tanjungpinang masuk dalam kategori kota sedang dengan jumlah penduduk saat ini lebih dari 250 ribu jiwa. Dalam perkembangannya dewasa ini, Kota Tanjungpinang yang melalui Undang-Undang Nomor 25 Tahun 2002 tentang Pembentukan Provinsi Kepulauan Riau ditetapkan sebagai daerah ibukota provinsi, Tanjungpinang telah menjadi tujuan kedatangan penduduk dari daerah di sekitarnya. Hal itu menjadikan Kota Tanjungpinang semakin memiliki potensi untuk berkembang lebih jauh, meski sekaligus juga menyimpan kerentanan terhadap permasalahan sosial yang pada umumnya terjadi pada daerah urban.
                br
                h5.subpage-title
                    span Aspek Geografis
                p   Posisi Kota Tanjungpinang sangat strategis, disamping berdekatan dengan Kota Batam sebagai kawasan perdagangan bebas, dan Negara Singapura sebagai pusat perdagangan dunia, Kota Tanjungpinang juga terletak pada posisi silang perdagangan dan pelayaran dunia, antara timur dan barat, yakni di antara Samudera Hindia dan Laut Cina Selatan.
                p   Kota Tanjungpinang berada di Pulau Bintan, Provinsi Kepulauan Riau dengan letak geografis berada pada 0o 51’ sampai dengan 0o 59’ Lintang Utara dan 104o 23’ sampai dengan 104o 34’ Bujur Timur. Batas-batas wilayah Kota Tanjungpinang adalah sebagai berikut :
                ul
                    li
                        |   Sebelah Utara 		: Kecamatan Teluk Bintan dan Kecamatan Bintan Utara, Kabupaten Bintan
                    li
                        |   Sebelah Selatan	: Kecamatan Mantang dan Kecamatan Bintan Timur, Kabupaten Bintan
                    li
                        |   Sebelah Barat		: Kecamatan Galang, Kota Batam, dan Kecamatan Teluk Bintan, Kabupaten Bintan
                    li
                        |   Sebelah Timur		: Kecamatan Bintan Timur dan Kecamatan Teluk Bintan, Kabupaten Bintan
                br
                h5.subpage-title
                    span Luas Wilayah
                p   Wilayah Kota Tanjungpinang terdiri dari pulau-pulau besar dan kecil yang pada umumnya merupakan daerah dengan dataran landai di bagian pantai, memiliki topografi yang bervariatif dan bergelombang dengan kemiringan lereng berkisar dari 0 – 2 % hingga 40 % pada wilayah pegunungan. Sedangkan ketinggian wilayah pada pulau-pulau yang terdapat di Kota Tanjungpinang berkisar antara 0 - 50 meter di atas permukaan laut hingga mencapai ketinggian 400-an meter diatas permukaan laut. Secara keseluruhan kemiringan lereng di Kota Tanjungpinang relatif datar, umumnya didominasi kelerengan yang berkisar antara 0 – 2 % dengan luas wilayah mencapai 75,30 Km², dan kemiringan lereng 2 – 15 % mempunyai luas sekitar 51,15 Km². Sedangkan kemiriringan lereng 15 – 40 % memiliki luas wilayah paling sedikit yaitu 5,09 Km².
                p   Luas wilayah Kota Tanjungpinang mencapai 239,50 km2 dengan keadaan gegologis sebagian berbukit-bukit dan lembah yang landai sampai ke tepian laut/pantai. Luas daratan Kota Tanjungpinang sekitar 131,54 km2 dan luas wilayah lautan sekitar 107,96 km2. Dengan luas wilayah yang tak begitu luas, Pemerintah Kota Tanjungpinang melalui Peraturan Daerah Nomor 10 Tahun 2014 menetapkan peraturan mengenai pengaturan kebijakan tata ruang wilayah Kota Tanjungpinang. Dengan tujuan penataan ruang untuk mewujudkan Kota Tanjungpinang sebagai pusat perdagangan dan jasa, pariwisata serta pusat pengembangan budaya Melayu dengan memperhatikan daya dukung lingkungan. Kebijakan penataan ruang wilayah Kota Tanjungpinang meliputi :
                ol
                    li Peningkatan pelayanan pusat-pusat kegiatan yang fungsional, berhirarki dan terintegrasi.
                    li Peningkatan kualitas dan jangkauan pelayanan jaringan transportasi, sumber daya air, mineral, telekomunikasi, dan prasarana wilayah yang terpadu dan merata di seluruh wilayah Kota Tanjungpinang dengan tanpa mengakibatkan alih fungsi lahan utama pertanian dan kawasan lindung.
                    li Pemeliharaan dan perwujudan kelestarian fungsi lingkungan hidup.
                    li Perwujudan dan peninkatan keterpaduan dan keterkaitan antar kegiatan budi daya.
                    li Pengembangan kawasan ekonomi yang prispektif dan menarik di dalam kawasan perdagangan bebas dan pelabuhan bebas (KPBPB) dan diluar KPBPB.
                    li Pengendalian perkembangan kegiatan budidaya agar sesuai fungsi dan tidak melampaui daya dukung dan daya tampung lingkungan.
                    li Peningkatan fungsi kawasan untuk pertahanan dan keamanan negara.
                br
                h5.subpage-title
                    span Wilayah Administrasi
                p   Kota Tanjungpinang, sampai dengan saat ini masih terdiri dari 4 kecamatan dan 18 kelurahan. Kelurahan yang memiliki luas paling besar adalah kelurahan Dompak dengan luas wilayah mencapai 30,50 KM2. Sementara kelurahan terkecil adalah kelurahan Penyengat dengan luas 4 km2.
                p   Sementara itu, kecamatan yang memiliki wilayah paling luas terdapat di kecamatan Tanjungpinang Timur dengan luas wilayah mencapai 83,50KM2. Dan kecamatan dengan luas paling kecil terdapat di kecamatan Tanjungpinang Barat dengan luas 34,50 KM2.Rincian mengenai luas wilayah kelurahan dan kecamatan yang terdapat di Kota Tanjungpinang dapat dilihat pada tabel 2.1 yang terdapat di bawah ini.
                table.table-bordered.table-condensed
                    thead
                        tr
                            th.text-center(rowspan='3') No
                            th.text-center(rowspan='3') Kecamatan
                            th.text-center(rowspan='3') Jumlah Kelurahan
                            th.text-center(colspan='4') Luas Wilayah
                        tr
                            th.text-center(colspan='2') Administrasi
                            th.text-center(colspan='2') Terbangun
                        tr
                            th.text-center km2
                            th.text-center % terhadap total
                            th.text-center km2
                            th.text-center % terhadap total
                    tbody
                        tr
                            td.small.text-center (1)
                            td.small.text-center (2)
                            td.small.text-center (3)
                            td.small.text-center (4)
                            td.small.text-center (5)
                            td.small.text-center (6)
                            td.small.text-center (7)
                        tr
                            td.center.text-center I
                            td 
                                strong Tanjungpinang Barat
                            td.text-center 4
                            td.text-center 34,50
                            td.text-center 14%
                            td.text-center &nbsp;
                            td.text-center &nbsp;
                        tr
                            td.text-center II
                            td
                                strong Tanjungpinang Timur
                            td.text-center 5
                            td.text-center 83,50
                            td.text-center 35%
                            td.text-center &nbsp;
                            td.text-center &nbsp;
                        tr
                            td.text-center III
                            td
                                strong Tanjungpinang Kota
                            td.text-center 4
                            td.text-center 52,50
                            td.text-center 22%
                            td.text-center &nbsp;
                            td.text-center &nbsp;
                        tr
                            td.text-center IV
                            td
                                strong Bukit Bestari
                            td.text-center 5
                            td.text-center 69,50
                            td.text-center 29%
                            td.text-center &nbsp;
                            td.text-center &nbsp;
                        tr
                            td.text-center(colspan='2')
                                strong Total Luas Wilayah Kota Tanjungpinang  
                            td.text-center 18
                            td.text-center 239,50
                            td.text-center 100%
                            td.text-center &nbsp;
                            td.text-center &nbsp;
                br
                h5.subpage-title
                    span Demografi
                p   Jumlah penduduk dapat dikatakan sebagai aset penting dalam menggerakkan roda pembangunan suatu daerah. Dari tahun ke tahun, jumlah penduduk kota Tanjungpinang mengalami laju pertambahan yang berarti. Menurut data Disdukcapil Kota Tanjungpinang, pada tahun 2014 jumlah penduduk Kota Tanjungpinang tercatat sebesar 243.686  jiwa, dengan tingkat pertumbuhan mencapai 4,39 %. 
                p   Dari kepadatan penduduk setiap kecamatan terlihat bahwa penduduk terpadat berada di Kecamatan Tanjungpinang Barat, dengan jumlah penduduk sebanyak 61.493 jiwa dan luas wilayah 34,5 km2. Hal ini dapat diartikan bahwa di setiap Km2 wilayah Kecamatan Tanjungpinang Barat terdapat penduduk sebanyak 1.782  jiwa. Selanjutnya diikuti oleh Kecamatan Tanjungpinang Timur, dengan 975 jiwa/Km2 dan Kecamatan Bukit Bestari serta Kecamatan Tanjungpinang Kota masing‐masing dengan 925 jiwa/Km2 dan 450 jiwa/Km2.
                br
                h5.subpage-title
                    span Sosial dan Budaya
                p   Karakteristik sosial budaya penduduk di wilayah perencanaan secara garis besar bersifat heterogen yang terdiri dari percampuran suku bangsa dan golongan etnis seperti Melayu sebagai penduduk asli/lokal yang telah turun temurun bermukim di daerah ini dan sebagian lainnya berasal dari suku Batak, Minang, Jawa, Tionghoa, Bugis (Sulawesi) dan dari daerah lainnya di Sumatera serta berbagai suku bangsa lainnya. Dengan kondisi demikian, pluralisme sudah menjadi ciri khas utama kebudayaan masyarakat Kota Tanjungpinang. Sebagian penduduk Kota Tanjungpinang merupakan penduduk kepulauan yang hidupnya bersentuhan langsung dengan karakteristik laut, seperti musim angin, musim ikan, daya jangkau laut antar pulau. 
                p   Kebudayaan Melayu merupakan kebudayaan asli penduduk Kota Tanjungpinang. Dalam perkembangannya sesuai dengan karakteristik sifat heterogen penduduknya, kebudayaan lain juga ikut mengalami perkembangan dengan tetap menghormati Kebudayaan Melayu sebagai kebudayaan asli dalam dalam hubungan sosial kemasyarakatan. Karakteristik sosial budaya yang heterogen ini juga merupakan suatu potensi untuk pembangunan sanitasi di wilayahnya di masa mendatang karena ditunjang semangat bersama untuk berkembang ke arah yang lebih maju. 
                br
                h5.subpage-title
                    span Klimatologi
                p   Pada umumnya daerah Kota Tanjungpinang beriklim tropis basah, dengan temperatur berkisar antara 18 – 30 derajat celcius. Rata-rata kelembaban udara sekitar 86%, sedangkan yang tertinggi mencapai sekitar 99% dan terendah sekitar 58%. Gugusan kepulauan di Kota Tanjungpinang mempunyai curah hujan cukup dengan iklim basah, berkisar antara 2000 – 2500 mm/tahun. Rata-rata curah hujan per hari sekitar 17,0 milimeter dengan jumlah hari hujan sekitar 16 hari per bulan.
                p   Curah hujan tertinggi umumnya terjadi pada bulan Maret dan Desember sekitar 472,5 milimeter, sedangkan curah hujan terendah terjadi pada bulan Mei sekitar 135,2 milimeter. Temperatur terendah 22,5o C dengan kelembaban udara 83 – 89%. Kota Tanjungpinang memiliki 4 macam perubahan angin, yaitu :
                ul
                    li  Bulan Desember – Febuari		: Angin Utara
                    li  Bulan Maret – Mei 			: Angin Timur
                    li  Bulan Juni – Agustus 			: Angin Selatan
                    li  Bulan September – November	: Angin Barat
            // /.post-content
            .post-meta
                ul.meta-list
                    li
                        span Terbit: 
                        span.black 25 July 2017
                    li
                        span Penulis: 
                        span.black Teguh Susanto, ST.