.row
    .col-sm-4
        a(href=base_url+'data/unitkerja')
            .xe-widget.xe-progress-counter.xe-progress-counter-purple(data-count='.num', data-from='0', data-to='48', data-duration='2')
                .xe-background
                    i.fa-institution
                .xe-upper
                    .xe-icon
                        i.fa-institution
                    .xe-label
                        span Data Unit Kerja
                        strong.num 0
                .xe-lower
                    .border
                    span Badan : 3000 Unit
                    span Dinas : 1500 Unit
                    span ULP : 500 Unit