.post.pages-profil
    .row
        .col-sm-12
            .post-content
                h5.subpage-title
                    span Error
                h1.text-center
                    span MOHON MAAF
                    br
                    span DATA YANG ANDA CARI BELUM TERSEDIA
                    br
                    small TERIMA KASIH
                br