<p>Berdasarkan Keputusan Menteri Pendayagunaan Aparatur Negara dan Reformasi Birokrasi Nomor 633 Tahun 2018 tentang Kebutuhan Pegawai Aparatur Sipil Negara di lingkungan Pemerintah Kota Tanjungpinang Tahun Anggaran 2018, maka Pemerintah Kota Tanjungpinang akan melaksanakan Seleksi Calon Pegawai Negeri Sipil Formasi Tahun 2018 sebanyak 237 (dua ratus tiga puluh tujuh) orang dengan rincian formasi sebagai berikut:</p>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="50px">No</th>
            <th>Jenis Formasi</th>
            <th>Alokasi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Tenaga Guru</td>
            <td>164 Orang</td>
        </tr>
        
        <tr>
            <td>2</td>
            <td>Tenaga Kesehatan</td>
            <td>56 Orang</td>
        </tr>
        
        <tr>
            <td>3</td>
            <td>Tenaga Teknis</td>
            <td>17 Orang</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td>237 Orang</td>
        </tr>
    </tfoot>
</table>
<p>Pengumuman Seleksi Penerimaan Calon Pegawai Negeri Sipil Formasi Tahun 2018 tersebut dapat di download <strong><a href="http://tanjungpinangkota.go.id/data/download-area/94" target=_BLANK>disini</a></strong></p>