<div class="white-wrapper">
    <div class="container">
        <div class="row">
        	<div class="col-sm-12">
        		<div class="text-center">
        			<img src="https://4.bp.blogspot.com/-n_2C7AtJRhc/Vx8MxFlvbrI/AAAAAAAAXIY/9ZIonDPUzAEmoM7FWVylaDpNIxwV0lIvQCLcB/s1600/Logo%2BGaruda%2BPancasila.png" width="100px" />
        			<h3>WALIKOTA TANJUNGPINANG</h3>
        			<h5>P E N G U M U M A N<br />NOMOR : 810 / 1090 / 4.2.02 / 201</h5>
        			<h5>TENTANG</h5>
        			<h5>HASIL SELEKSI ADMINISTRASI CALON PEGAWAI NEGERI SIPIL<br />DI LINGKUNGAN PEMERINTAH KOTA TANJUNGPINANG<br />FORMASI TAHUN 2018</h5>
        		</div>
        		<div>
        			<p>Berdasarkan hasil seleksi administrasi online terhadap berkas pelamar Seleksi Calon Pegawai Negeri Sipil di lingkungan Pemerintah Kota Tanjungpinang Formasi Tahun 2018, maka dengan ini disampaikan hal-hal sebagai berikut : </p>
        			<ol>
        				<li>Nama-nama pelamar sebagaimana tercantum dalam lampiran Pengumuman ini dinyatakan <strong>LULUS</strong> Seleksi Administrasi Calon Pegawai Negeri Sipil di lingkungan Pemerintah Kota Tanjungpinang Formasi Tahun 2018.</li>
        				<li>Pelamar yang dinyatakan <strong>LULUS</strong> Seleksi Administrasi dapat mengikuti Seleksi Kompetensi Dasar (SKD) dengan <strong>mencetak (Print Out) Kartu Peserta Ujian</strong> sesuai ketentuan sebagai berikut :
        				<ul>
        					<li>Print Out Kartu Peserta Ujian melalui Portal SSCN di <strong><a href="https://sscn.bkn.go.id" target="_BLANK">https://sscn.bkn.go.id</a></strong></li>
        					<li>Print Out Kartu Peserta Ujian ditempel pas photo berwarna dengan ukuran 4x6 berlatar belakang merah.
        				</ul>
        				</li>
        				<li>Jadwal dan tempat pelaksanaan Seleksi Kompetensi Dasar (SKD) akan diinformasikan lebih lanjut melalui Portal SSCN di <strong><a href="https://sscn.bkn.go.id" target="_BLANK">https://sscn.bkn.go.id</a></strong> dan website <strong><a href="http://tanjungpinangkota.go.id" target="_BLANK">tanjungpinangkota.go.id</a></strong></li>
        				<li>Pada saat pelaksanaan Seleksi Kompetensi Dasar (SKD), peserta diwajibkan berpakaian kemeja putih polos dan celana/rok warna hitam serta memakai sepatu dengan membawa : 
        					<ul>
        						<li>Kartu Tanda Penduduk (KTP) asli yang masih berlaku</li>
        						<li>Kartu Pendaftaran CPNS Tahun 2018</li>
        						<li>Kartu Informasi account SSCN</li>
        						<li>Tanda Peserta Ujian CPNS Tahun 2018</li>
        					</ul>
        				</li>
        				<li>Bagi Peserta yang dinyatakan lulus Seleksi Administrasi dan tidak mengikuti Seleksi Kompetensi Dasar (SKD) sesuai jadwal yang telah ditetapkan, dinyatakan <strong>gugur/mengundurkan diri</strong>.</li>
        				<li>Keputusan Hasil Seleksi Administrasi Calon Pegawai Negeri Sipil di lingkungan Pemerintah Kota Tanjungpinang Formasi Tahun 2018 <strong>bersifat mutlak dan tidak dapat diganggu gugat</strong>.</li>
        			</ol>
        			<p>Demikian pengumuman ini disampaikan untuk menjadi perhatian.</p>
        			<p>Tanjungpinang, 18 Oktober 2018
        				<br />WALIKOTA TANJUNGPINANG,
        				<br /><br />dto
        				<br /><br /><strong>H. SYAHRUL, S.Pd</strong>
        			</p>
        		</div>
        		<div>
        			<p>Hasil seleksi dapat di unduh <strong><a href="http://tanjungpinangkota.go.id/data/download-area/131" target="_BLANK">DI SINI</a></strong> atau <strong><a href="https://drive.google.com/open?id=1oBrwPY7zWagf-tVd9QVxEgKmkdC9W0yX" target="_BLANK">DI SINI</a></strong></p>
        		</div>
        	</div>
        </div>
    </div>
</div>