.page-error.centered
    .error-symbol
        i.fa-warning
    
    h2= error.status
        small= message
    p Kami tidak dapat menemukan apa yang anda cari!
    p Silakan kembali ke halaman sebelumnya
    pre #{error.stack}
.page-error-search.centered
    a.go-back(href='./')
        i.fa-angle-left
        |   Kembali ke Beranda