// Imported styles on this page
link(rel='stylesheet', href='/adm-assets/js/wysihtml5/bootstrap-wysihtml5.css')
link(rel='stylesheet', href='/adm-assets/js/selectboxit/jquery.selectBoxIt.css')
// Bottom scripts (common)
script(src='/adm-assets/js/wysihtml5/wysihtml5-0.4.0pre.min.js')
// Imported scripts on this page
script(src='/adm-assets/js/wysihtml5/bootstrap-wysihtml5.js')
script(src='/adm-assets/js/jquery.multi-select.js')
script(src='/adm-assets/js/fileinput.js')
script(src='/adm-assets/js/bootstrap-datepicker.js')
script(src='/adm-assets/js/bootstrap-tagsinput.min.js')