// Imported styles on this page
link(rel='stylesheet', href='/adm-assets/js/selectboxit/jquery.selectBoxIt.css')
link(rel='stylesheet', href='/adm-assets/js/daterangepicker/daterangepicker-bs3.css')
link(rel='stylesheet', href='/adm-assets/js/icheck/skins/minimal/_all.css')
link(rel='stylesheet', href='/adm-assets/js/icheck/skins/square/_all.css')
link(rel='stylesheet', href='/adm-assets/js/icheck/skins/flat/_all.css')
link(rel='stylesheet', href='/adm-assets/js/icheck/skins/futurico/futurico.css')
link(rel='stylesheet', href='/adm-assets/js/icheck/skins/polaris/polaris.css')

// Imported scripts on this page
script(src='/adm-assets/js/bootstrap-tagsinput.min.js')
script(src='/adm-assets/js/typeahead.min.js')
script(src='/adm-assets/js/selectboxit/jquery.selectBoxIt.min.js')
script(src='/adm-assets/js/bootstrap-datepicker.js')
script(src='/adm-assets/js/bootstrap-timepicker.min.js')
script(src='/adm-assets/js/bootstrap-colorpicker.min.js')
script(src='/adm-assets/js/moment.min.js')
script(src='/adm-assets/js/daterangepicker/daterangepicker.js')
script(src='/adm-assets/js/jquery.multi-select.js')
script(src='/adm-assets/js/icheck/icheck.min.js')
script(src='/adm-assets/js/jquery.inputmask.bundle.js')