// Imported styles on this page
link(rel='stylesheet', href='/adm-assets/js/jcrop/jquery.Jcrop.min.css')
link(rel='stylesheet', href='/adm-assets/js/dropzone/dropzone.css')

// Imported scripts on this page
script(src='/adm-assets/js/jcrop/jquery.Jcrop.min.js')
script(src='/adm-assets/js/dropzone/dropzone.js')
